[flake8]
max-line-length = 90

exclude=
    .git,
    .gitignore,
    venv,
    .env,
    __init__,
    __pycache__,
    settings.py,
    __init__.py,
    test_*.py,
    celery.py,
    migrations,
    apps.py