[flake8]
max-line-length = 120

per-file-ignores =
    test_*.py: F401

exclude =
    .git,
    .gitignore,
    venv,
    .env,
    __init__,
    __pycache__,
    settings.py,
    __init__.py,
    celery.py,
    migrations,
    apps.py

ignore = 
    F811,
    W503,